* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
html,
body {
  background: url("background2a.jpg");
  background-size: cover;
  min-height: 100%;
}
.nav-container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 238, 255, 0.1)),
    url("background2.jpg");
  background-size: cover;
  background-position: 0 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 200px;
}
.nav-container img {
  max-height: 180px;
  border-radius: 10px 0 8px 0;
  opacity: 0.8;
}
.text {
  color: #fff;
  font-size: 15px;
  position: relative;
  bottom: 25px;
  left: 4px;
}
.nav-links {
  margin-right: 140px;
}
.nav-links ul {
  background: none;
  list-style: none;
}
.nav-links ul li {
  font-size: 1.4rem;
  display: inline-block;
  margin-right: 100px;
}
.nav-links ul li:last-child {
  margin-right: 0;
}
.nav-links ul li a {
  color: #fff;
  padding: 3px 10px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  text-decoration: none;
  transition: 0.6s ease-out;
}
.nav-container a:hover {
  text-shadow: 0 0 10px #fff;
  background: rgba(201, 2, 2, 0.4);
}
.projects {
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  height: 100vh;
  padding-top: 50px;
}
.section-title {
  color: #fff;
  text-align: center;
  text-shadow: 0 0 8px #fff;
}
.audio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
  height: auto;
}
.audioPlayer {
  transition: 0.8s ease-out;
}
.audioPlayer:hover {
  scale: 1.2;
  box-shadow: 0 0 10px #fff;
  border-radius: 8px 8px 0 0;
}
.track1 audio {
  background: #444;
  background: -webkit-linear-gradient(
      rgba(7, 8, 75, 0.8),
      rgba(46, 31, 129, 0.1)
    ),
    url("project1.jpg");
  background: linear-gradient(rgba(7, 8, 75, 0.8), rgba(46, 31, 129, 0.1)),
    url("project1.jpg");
  background-size: cover;
}
.track2 audio {
  background: #444;
  background: -webkit-linear-gradient(
      rgba(7, 8, 75, 0.8),
      rgba(46, 31, 129, 0.1)
    ),
    url("project2.jpg");
  background: linear-gradient(rgba(7, 8, 75, 0.8), rgba(46, 31, 129, 0.1)),
    url("project2.jpg");
  background-size: cover;
}
.track3 audio {
  background: #444;
  background: -webkit-linear-gradient(
      rgba(7, 8, 75, 0.8),
      rgba(46, 31, 129, 0.1)
    ),
    url("project3.jpg");
  background: linear-gradient(rgba(7, 8, 75, 0.8), rgba(46, 31, 129, 0.1)),
    url("project3.jpg");
  background-size: cover;
}
.track4 audio {
  background: #444;
  background: -webkit-linear-gradient(
      rgba(7, 8, 75, 0.8),
      rgba(46, 31, 129, 0.1)
    ),
    url("project4.jpg");
  background: linear-gradient(rgba(7, 8, 75, 0.8), rgba(46, 31, 129, 0.1)),
    url("project4.jpg");
  background-size: cover;
}
audio {
  height: 300px;
  width: 350px;
  border-radius: 8px 8px 0 0;
  border: 2px solid #666;
  filter: grayscale(0.7);
  transition: all 1.2s ease-out;
}
audio:hover {
  filter: none;
}
.audioTitle {
  color: #fff;
  position: relative;
  top: -200px;
  left: 0px;
  text-align: center;
  text-shadow: 0px 0px 10px #fff;
}

footer {
  background: #222;
  width: 100%;
}
footer p {
  color: #999;
  font-weight: 600;
  text-align: right;
  margin: 0 20px 0 0;
}

@media (max-width: 1200px) {
  .nav-container {
    position: relative;
  }
  .nav-links {
    display: none;
  }
}
@media (max-width: 800px) {
  footer {
    position: fixed;
    bottom: 0;
  }
}
